.window {
  height: 60px;
	border-bottom: 1px solid #D8D8D8;
	margin: 0;
}

.header {
  width: 1280px;
  background-color: #fff;
  height: 60px;
  img{
    margin-top: 16px;
    margin-left: 40px;
  }
}

