<div class="window">
  <div class="form">
    <div class="content">
      <header>
        <h3>Create Account</h3>
        <p>
          Create a free salmanwap account to access all articles and videos.
        </p>
      </header>
      <main>
        <label> Username </label>
        <input type="text" placeholder="shambhavim1999" />
        <label class="under">Must not contain any special character</label>
        <label> Password </label>
        <input type="password" />
        <label class="under last">Must have atleast 8+ characters</label>
        <button>Create a free account</button>
      </main>
    </div>
  </div>
</div>
