table {
  width: 60%;
  margin: 5% auto;
}
.mat-elevation-z8{
  box-shadow: none;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #18cf07;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.chart {
  margin-top: 30px;
  border: 2px solid ;
}
