.window {
	width: 843px;
	margin: 0 auto 24px;
}

.paginator {
  position: relative;
  top: 40px;
	text-align: center;
  padding-bottom: 30px;
}

.paginator button {
	margin: 0 2px;
}

.active {
	background-color: #8F07CF;
	color: white;
}

.notactive {
	background-color: #9007cf00;
	color: black;
}

.table{
  margin-left: 40px;
}
